---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto mb-20">
            <div class="lg:w-1/2 text-center mx-auto">
              <h1 class="font-crimson font-bold text-3xl md:text-4xl xl:text-5xl">Let's chat</h1>
              <p class="mt-8 text-gray-700">(i.e.,) is a consultancy that works across strategy and execution to deliver the right digital products to transform the future of your company.</p>
              <div class="lg:w-2/3 text-center mx-auto mt-20">
                <h2 class="font-crimson font-bold text-xl md:text-xl xl:text-xl mb-3 ">OUR OFFICE</h2>
                <p class="text-gray-700">IE COMPANY,<br> 6121 Sunset Blvd, C/o: NeueHouse Hollywood, <br> Los Angeles, CA 90028</p>
              </div>
              <div class="lg:w-2/3 text-center mx-auto mt-10">
                <h2 class="font-crimson font-bold text-xl md:text-xl xl:text-xl mb-3">CONTACT</h2>
                <a class="mt-5" href="mailto:hi@iecompany.us?subject=You've%20got%20mail!"><u>hi@iecompany.us</u></a>
                <br/>
                <a class="mt-5" href="tel:+13236987932"><u>+1 (323) 698-7932</u></a>
              </div>
            </div>
        </div>
    </Container>
</div>