<footer class="bg-gray-800 text-white p-6 mt-8 w-full">
    <div class="flex justify-between items-center">
      <p>Love your work</p>
        <div>
        <p>&copy; IE Company 2001 - 2024</p>
        <div class="flex space-x-4">
            <a href="#"><img src="/facebook.svg" alt="Facebook" /></a>
            <a href="#"><img src="/instagram.svg" alt="Twitter" /></a>
            <a href="#"><img src="/linkedin.svg" alt="Instagram" /></a>
        </div>
        </div>
    </div>
    <p class="text-sm">We acknowledge the traditional owners of the country throughout Australia and their continuing connection to land, sea and community. We pay our respect to them and their cultures and to the elders past and present.</p>
</footer>