<header class="mb-4 flex justify-between items-center w-full">
    <img src="/logo.svg" alt="IE Logo">
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/">What We Do</a></li>
        <li><a href="/about">Get In Touch</a></li>
      </ul>
    </nav>
</header>