<div class="bg-ieBrandDark text-white p-8 mt-8 rounded-lg text-center">
    <h2 class="text-6xl mb-4">G’day America, (i.e.,) is coming to the US!</h2>
    <button class="bg-ieBrandLight2 text-ieBrandDark1 px-4 py-2 rounded font-bold hover:bg-ieBrandLight1 transition-colors duration-200 ease-in-out">
        VISIT US
    </button>
</div>