---
import Header from '../components/Header.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="bg-ieBrandLight">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12 flex flex-col items-center">
          <Header />
          <main>
            <slot />
          </main>
        </div>
      </body>
</html>